.article{
    a{
        @extend .link;
    }
    p, h2, h3, h4{
        margin-bottom: 1.4em;
    }
    h2, h3, h4{
        font-weight: 600;
    }
    h2{
        font-size: 1.25em;
        margin-top: 2.25em;
    }
}